.container{
    display:flex;
    justify-content: space-evenly;
    background-color: #000000;
    }
    
    ul{
    list-style-type:none;
    display:inline-flex;
    overflow: hidden;;
    }
    
    li a{
    font-size: 20px;
    padding: 0px 18px;
    text-decoration: none;
    text-align:center;
    color: #ffffff;
    }
    
    li a:hover{
    background-color: #b92323;
    }
    